page-home {
    ion-content {
        background-size: cover;
        background-repeat: no-repeat;
        border-color: transparent;
    }
    .masters {
        background-color: #f2f2f2;
    }
    .logo {
        width: 200px;
        height: 200px;
        // -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
        padding-top: 2vh;
        margin-bottom: 2vh;
    }
    .icon {
        width: 150px;
        height: 110px;
        padding-top: 2vh;
        margin-bottom: 2vh;
        margin-left: auto;
        margin-right: auto;
    }
    .landing-container {
        color: #666666;
        position: top;
        top: 0;
        padding: 1vw;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        z-index: 2;
    }
}