<ion-header>

    <ion-navbar>
        <ion-title>Submit Your Property</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <p>Currently submitting a property in <b>{{ suburb.suburb }}, {{ suburb.metro }}.</b></p>
    <hr>
    <form [formGroup]="propertySubmissionForm" (submit)="submitProperty()">
        <!-- <ion-item no-lines>
            <ion-label floating>Full Name:</ion-label>
            <ion-input formControlName="suburb" type="text"></ion-input>
        </ion-item> -->
        <!--pick if selling propety or seeking tennant-->
        <ion-list radio-group formControlName="rental">
            <ion-label><b><u>Listing Type:</u></b></ion-label>
            <ion-item no-lines>
                <ion-label>I need to find a tenant</ion-label>
                <ion-radio item-left type="radio" value=true (click)="rentPurchaseToggle1()"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>I want to sell a property</ion-label>
                <ion-radio item-left type="radio" value=false (click)="rentPurchaseToggle2()"></ion-radio>
            </ion-item>
        </ion-list>
        <hr>
        <!--Hidden HTML info to be submitted-->
        <ion-item hidden no-lines>
            <ion-label floating>Date of Submission:</ion-label>
            <ion-input displayFormat="DD/MM/YYYY" value="{{ dateTime }}" formControlName="dateTime"></ion-input>
        </ion-item>
        <ion-item hidden no-lines>
            <ion-label floating>Email Address:</ion-label>
            <ion-input formControlName="userEmail" type="text" value="{{(profile | async)?.email}}">{{(profile | async)?.email}}</ion-input>
        </ion-item>
        <ion-item hidden no-lines>
            <ion-label floating>Area Key For Submission Purposes:</ion-label>
            <ion-input formControlName="suburbKey" type="text" value="{{ suburb.key }}">{{ suburb.key }}</ion-input>
        </ion-item>
        <!-- Personal details-->
        <ion-label><b><u>Personal Details:</u></b></ion-label>
        <ion-item no-lines>
            <ion-label floating>Full Name:</ion-label>
            <ion-input formControlName="fullName" type="text"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Contact Number:</ion-label>
            <ion-input formControlName="contactNumber" type="number" value="{{ contactNumber }}"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Agency Name:</ion-label>
            <ion-input formControlName="agencyName" type="text"></ion-input>
        </ion-item>
        <hr>
        <!--Details of property-->
        <ion-list radio-group formControlName="premisesType">
            <ion-label><b><u>Premises Type:</u></b></ion-label>
            <ion-item no-lines>
                <ion-label>Mini factory up to 500sqm</ion-label>
                <ion-radio item-left type="radio" value="Mini factory up to 500sqm"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>A Factory/Warehouse over 500sqm</ion-label>
                <ion-radio item-left type="radio" value="A factory/warehouse over 500 sqm"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Offices</ion-label>
                <ion-radio item-left type="radio" value="Offices"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Retail</ion-label>
                <ion-radio item-left type="radio" value="Retail"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>A mixed use building</ion-label>
                <ion-radio item-left type="radio" value="A mixed use building"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>A stand alone house to be used as offices</ion-label>
                <ion-radio item-left type="radio" value="A stand alone house to be used as offices"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Other</ion-label>
                <ion-radio item-left type="radio" value="Other"></ion-radio>
            </ion-item>
            <ion-input formControlName="otherProperty" type="text" placeholder="Description of property if other."></ion-input>
        </ion-list>
        <hr>
        <!--Holding Type-->
        <ion-list radio-group formControlName="holding">
            <ion-label><b><u>Holding:</u></b></ion-label>
            <ion-item no-lines>
                <ion-label>Freehold</ion-label>
                <ion-radio item-left type="radio" value="Freehold"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Sectional Title</ion-label>
                <ion-radio item-left type="radio" value="Sectional Title"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Other</ion-label>
                <ion-radio item-left type="radio" value="Other"></ion-radio>
            </ion-item>
            <ion-input formControlName="otherHolding" type="text" placeholder="Description of holding if other."></ion-input>
        </ion-list>
        <hr>
        <!--Property Physical Address-->
        <ion-item no-lines>
            <ion-label><u>Property Address:</u></ion-label>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Unit Number:</ion-label>
            <ion-input formControlName="unitNumber" type="text"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Complex Name:</ion-label>
            <ion-input formControlName="complexName" type="text"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Street Number:</ion-label>
            <ion-input formControlName="streetNumber" type="text"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Street Name:</ion-label>
            <ion-input formControlName="streetName" type="text"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Suburb/Town:</ion-label>
            <ion-input hidden formControlName="suburb1" type="text" value=" {{suburb.suburb}}">{{ suburb.suburb }}</ion-input>
        </ion-item>
        <ion-item hidden no-lines>
            <ion-label floating>City:</ion-label>
            <ion-input formControlName="city" type="text" value="{{ suburb.metro }}">{{ suburb.metro }}</ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Postal Code:</ion-label>
            <ion-input formControlName="postalCode" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>ERF Number:</ion-label>
            <ion-input formControlName="erf" type="text"></ion-input>
        </ion-item>
        <hr>
        <!--Property Sizes fields for Purchase-->
        <ion-item no-lines *ngIf="rentPurchaseOption == false">
            <ion-label><u>Property Sizes:</u></ion-label>
        </ion-item>
        <ion-item no-lines *ngIf="rentPurchaseOption == true">
            <ion-label><u>Lettable Space:</u></ion-label>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Factory/Warehouse Size (sqm):</ion-label>
            <ion-input formControlName="factorySize" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Office Size (sqm):</ion-label>
            <ion-input formControlName="officeSize" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Total Factory and Office Size (sqm):</ion-label>
            <ion-input formControlName="totalSize" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Shop Size (sqm) (If Retail):</ion-label>
            <ion-input formControlName="shopSize" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Undercover Parking (Bays):</ion-label>
            <ion-input formControlName="underCoverParking" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Open Parking (Bays):</ion-label>
            <ion-input formControlName="openParking" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Usable Yard (sqm):</ion-label>
            <ion-input formControlName="usableYard" type="number"></ion-input>
        </ion-item>
        <!-- Below only present if sale selected-->
        <ion-item no-lines *ngIf="rentPurchaseOption == false">
            <ion-label floating>Size of ERF (sqm) (If Freehold):</ion-label>
            <ion-input formControlName="sizeOfERF" type="number"></ion-input>
        </ion-item>
        <hr>
        <ion-item no-lines>
            <ion-label><u>Heights:</u></ion-label>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Floor to Roof in Factory/Warehouse (m):</ion-label>
            <ion-input formControlName="floorToCeilingHeights" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Height of Acccess Door (Roller Shutter) (m):</ion-label>
            <ion-input formControlName="accessDoorHeights" type="number"></ion-input>
        </ion-item>
        <hr>
        <ion-item no-lines>
            <ion-label><u>Truck Access:</u></ion-label>
        </ion-item>
        <ion-list radio-group formControlName="truckAccess">
            <ion-item no-lines>
                <ion-label>Rigid Trucks Can Be Offloaded at the premises</ion-label>
                <ion-radio item-left type="radio" value="Rigid Trucks Only"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Semi Trailers Can Be Offloaded at the premises</ion-label>
                <ion-radio item-left type="radio" value="Up To Semi Trucks"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Interlinks Can Be Offloaded at the premises</ion-label>
                <ion-radio item-left type="radio" value="Up To Interlinks"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>None of the above applies.</ion-label>
                <ion-radio item-left type="radio" value="No Truck Can Be Offloaded"></ion-radio>
            </ion-item>
        </ion-list>
        <hr>
        <ion-item no-lines>
            <ion-label><u>Power:</u></ion-label>
        </ion-item>
        <ion-list radio-group formControlName="power">
            <ion-item no-lines>
                <ion-label>Single Phase</ion-label>
                <ion-radio item-left type="radio" value="Single Phase"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Three Phase</ion-label>
                <ion-radio item-left type="radio" value="Three Phase"></ion-radio>
            </ion-item>
        </ion-list>
        <ion-item no-lines>
            <ion-label floating>Amperage:</ion-label>
            <ion-input formControlName="amperage" type="number"></ion-input>
        </ion-item>
        <p>Please check your circuit breaker for the amperage.</p>
        <hr>
        <ion-item no-lines>
            <ion-label><u>Cost:</u></ion-label>
        </ion-item>
        <!-- Selling price if sale, rental fields if looking for tenant-->
        <ion-item no-lines *ngIf="rentPurchaseOption == false">
            <ion-label floating>Selling Price (ZAR):</ion-label>
            <ion-input formControlName="sellingPrice" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="rentPurchaseOption == true">
            <ion-label floating>Rental Price (ZAR):</ion-label>
            <ion-input formControlName="rentalPrice" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="rentPurchaseOption == true">
            <ion-label floating>Price Per Parking Bay (ZAR):</ion-label>
            <ion-input formControlName="pricePerBay" type="number"></ion-input>
        </ion-item>
        <hr>
        <!--If purchase option, Overheads label, if rental, Additonal costs label-->
        <ion-item no-lines *ngIf="rentPurchaseOption == false">
            <ion-label><u>Overheads:</u></ion-label>
        </ion-item>
        <ion-item no-lines *ngIf="rentPurchaseOption == true">
            <ion-label><u>Additional Costs:</u></ion-label>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Rates (ZAR):</ion-label>
            <ion-input formControlName="rates" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Levy (ZAR):</ion-label>
            <ion-input formControlName="levy" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Contribution to Service Costs (ZAR):</ion-label>
            <ion-input formControlName="serviceCosts" type="number"></ion-input>
        </ion-item>
        <ion-item no-lines>
            <ion-label floating>Other Overheads:</ion-label>
            <ion-input formControlName="otherOverheads" type="text"></ion-input>
        </ion-item>
        <hr>
        <ion-item no-lines>
            <ion-label><u>Is The of Owner of the Property a VAT Vendor?</u></ion-label>
        </ion-item>
        <ion-list radio-group formControlName="VAT">
            <!--VAT options for the sale situation-->
            <ion-item no-lines *ngIf="rentPurchaseOption == false">
                <ion-label>Yes</ion-label>
                <ion-radio item-left type="radio" value="Owner Is A VAT Vendor" (click)="vatToggle1()"></ion-radio>
            </ion-item>
            <ion-item no-lines *ngIf="rentPurchaseOption == false">
                <ion-label>No</ion-label>
                <ion-radio item-left type="radio" value="Owner Is Not A VAT Vendor" (click)="vatToggle2()"></ion-radio>
            </ion-item>
            <ion-item no-lines *ngIf="vatOptioned == false">
                <p>Transfer Duty Applies</p>
            </ion-item>
            <!--VAT options for the rental situation-->
            <ion-item no-lines *ngIf="rentPurchaseOption == true">
                <ion-label>Yes</ion-label>
                <ion-radio item-left type="radio" value="Owner Is A VAT Vendor" (click)="rentVatToggle1()"></ion-radio>
            </ion-item>
            <ion-item no-lines *ngIf="rentPurchaseOption == true">
                <ion-label>No</ion-label>
                <ion-radio item-left type="radio" value="Owner Is A Not VAT Vendor" (click)="rentVatToggle2()"></ion-radio>
            </ion-item>
            <ion-item no-lines *ngIf="rentVatOptioned == true">
                <ion-label floating>Owner VAT Number:</ion-label>
                <ion-input formControlName="ownerVatNumber" type="text"></ion-input>
            </ion-item>
        </ion-list>
        <!-- Third Party Tenant Options-->
        <ion-list radio-group formControlName="thirdParty" *ngIf="rentPurchaseOption == false">
            <ion-item no-lines>
                <ion-label><u>Are The Presmises Tenanted By A Third Party?</u></ion-label>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Yes</ion-label>
                <ion-radio item-left type="radio" value="Third Party Tenant" (click)="tenantToggle1()"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>No</ion-label>
                <ion-radio item-left type="radio" value="No Third Party Tenant" (click)="tenantToggle2()"></ion-radio>
            </ion-item>
            <ion-item no-lines *ngIf="tenantOption == false">
                <p>Transaction Cannot Be Zero Rated</p>
            </ion-item>
        </ion-list>
        <!-- Lease Terms - Letting Only-->
        <ion-item no-lines *ngIf="rentPurchaseOption == true">
            <ion-label><u>Lease Terms</u></ion-label>
        </ion-item>
        <ion-item no-lines *ngIf="rentPurchaseOption == true">
            <ion-label floating>% Annual Escalation in Rent:</ion-label>
            <ion-input formControlName="escalation" type="text"></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="rentPurchaseOption == true">
            <ion-label floating>Minimum Term Of Lease:</ion-label>
            <ion-input formControlName="minLeaseTerm" type="text"></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="rentPurchaseOption == true">
            <ion-label floating>Maximum Term Of Lease:</ion-label>
            <ion-input formControlName="maxLeaseTerm" type="text"></ion-input>
        </ion-item>
        <!--Property Description-->
        <hr>
        <ion-item no-lines>
            <ion-label><u>Property Description:</u></ion-label>
        </ion-item>
        <ion-textarea formControlName="description" placeholder="Describe the property here:"></ion-textarea>
        <hr>
        <!-- File Upload-->
        <h1>File Upload</h1>

        <input type="file" (change)="onFileSelected($event)" />
        <button ion-button block type="button" (click)="onUpload()">Upload</button>
        <!-- End of file upload -->
        <button ion-button block type="submit">Submit Property For Review</button>
    </form>
</ion-content>